@import "../../styles/global.scss";

.basic__container {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color: $color-text-light;
  font-size: 8px;
}
