@import "../../styles/global.scss";

.productors__container {
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  align-items: center;
  justify-content: space-between;
  justify-items: center;
}

.productor {
  width: 70%;
  height: auto;
}
