@import "../../styles/global.scss";

.category__container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin-top: 25px;
}

.category__icon {
  width: 100%;
  height: 100%;

  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.category {
  padding: 5px 10px 5px 10px;
  border: 1px solid $color-text-light;
  border-radius: 50px;
  display: grid;
  align-items: center;
  justify-content: center;
  color: $color-text;
  transition: 0.2s;
}

.category:hover {
  cursor: pointer;
  background-color: $color-text-category;
  border: 1px solid $color-text-light;
  color: $color-white;
}
